<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appmagnet.fintaskanyplace" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:name=".initializer.Initializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appmagnet.fintaskanyplace.activity.MainActivity" />
        </activity>

        <activity android:name=".activity.NotificationReciever"
            android:label="Notification"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appmagnet.fintaskanyplace.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.SearchedResults"
            android:label="Nearby Places"
            android:parentActivityName=".activity.NotificationReciever" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appmagnet.fintaskanyplace.activity.MainActivity" />
        </activity>
        <activity android:name=".wunderlist.LoginPageActivity"
            android:label="Wunderlist Login
            "
            android:parentActivityName=".activity.SettingsActivity" >
        </activity>

        <!-- Broadcast receiver -->
    <receiver   android:name=".backgroundtasks.BackgroundTaskReceiver"></receiver>

    </application>


</manifest>
